{% extends "base.html" %}

{% block pageheading %}ADMIN{% endblock %}

{% block main %}
    <form class = "myform" method="post" action="delete_user">
        <div class="form-group">
            <div class ="form-label" for="user_email">User Names: </div>
            <div class ="form-element">
                <select id = "select_user"  name ="select_user">
                    {% for users in Userlist %}
                        <option value = "{{ users[2] }}">Name:({{users[0] }} {{ users[1] }})   User ID:{{  users[2] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class = "form">
            <div class="form-label"></div>
            <div class="form-element"><input type="submit" value="Submit"></div>

        </div>
    </form>

{% endblock %}