{% extends "base.html" %}

{% block main %}

        {% for product in listings %}
            <listingheading>{{ product[0] }}</listingheading>
            <p></p>
            <img src="{{ url_for('static', filename='images/' + product[3]) }}" width="500px" height ="300" >
            <p></p>
            <p> {{ product[1] }}</p>

        {%endfor%}
        {% if logged_in == True %}
            <form class = "myform" method="post">
        <div class = "form-group">
            <div class = "form-label">Bid Amount</div>
            <div class = "form-element"> <input type = "number" name = "UserBid" maxlength="8"> required </div>
        </div>
        <div class = "form-group">
            <div class = "form-label"> Submit </div>
            <div class = "form-element"> <input type = "submit" name = "Bid!"> </div>
        </div>
    </form>
        {% else %}
            <h1>Sign In to Bid</h1>
        {% endif %}

    {% if error == 'lowerbid'%}
        <h3>Bid lower than bids before</h3>
    {% endif %}

        <h2>History</h2>
        <table>
            <tr>
                <th>Bid Amount</th>
                <th>Time</th>
                <th>User First Name</th>
            </tr>

            {% for bid_info in Info %}
            <tr>
                <td>{{ bid_info[0] }}</td>
                <td>{{ bid_info[1] }}</td>
                <td>
                <!---displays text that explain why there is no value  --->
                    {% if bid_info[2] == None %}
                        User Deleted
                    {% else %}
                        {{ bid_info[2] }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
{% endblock %}