{% extends 'base.html' %}

{% block pageheading %}
    <p> All Listings</p>
{% endblock %}

{% block main %}
<div class="products">
        {% for product in listings %}
            <div class="product-box">
                <h3 class="product-box-heading">
                    <a href="/listings/{{ product[2] }}" class="listing-link">{{ product[0] }}</a>
                </h3>
                <img src="{{ url_for('static', filename='images/' + product[3]) }}">
                <p class="product-box-info"> {{ product[1] }}</p>
            </div>
        {%endfor%}
   </div>
{% endblock %}