{% extends "base.html" %}

{% block pageheading %}Make A listing{% endblock %}


{% block main %}
    {% if error == 'emptyBox'%}
        <h3>All boxes are required to be filled</h3>
    {% endif %}

    {% if error == 'invalidfile'%}
        <h3>File needs to be a image or filled</h3>
    {% endif %}

    {% if error == 'lower0'%}
        <h3>The reserve price cannot be lower than 0</h3>
    {% endif %}
    <!---#post to add info to the dB. need enctype for file upload--->
    <form class = "myform" method="post" enctype="multipart/form-data">
        <div class = "form-group">
            <div class = "form-label">Listing Name: </div>
            <div class = "form-element"> <input type = "text" name = "Listing_name"> required </div>
        </div>

        <div class = "form-group">
            <div class = "form-label">Listing Description: </div>
            <div class = "form-element"> <input type = "text" name = "Listing_info"> required </div>
        </div>

        <div class = "form-group">
            <div class = "form-label">Listing_price_res: </div>
            <div class = "form-element"> <input type = "number" name = "List_price_res"> required </div>
        </div>

        <div class="form-group">
            <div class="form-label">Listing Image: </div>
            <div class="form-element"> <input type="file" name="listing_image" accept="image/*"> </div>
        </div>

        <div class = "form-group">
            <div class = "form-label">Add Listing!</div>
            <div class = "form-element"> <input type = "submit" name = "Submit"> </div>
        </div>

    </form>

{% endblock %}